---
---

<div class="logo">
  <img src="/navigation-logo.png" alt="Talanton Go Logo" width="64" height="64" />
</div>

<style>
  .logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo img {
    display: block;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
    height: auto;
  }
</style>


